@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tab:not([pinned]) .tab-icon-image, .tab-throbber,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
.tab-close-button,
#appmenu-toolbar-button {
	display: none !important;
}

.tab-text {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#main-window #tabbrowser-tabs tab[fadein]:not([pinned]) {
	min-width: 10px !important;
	/*max-width: 280px !important;*/
	max-width: 100% !important;
}

#TabsToolbar {
	box-shadow: none !important;
}

#main-window .tabbrowser-tab {
	border: 0 !important;
	border-bottom: 1px !important;
	border-left: 1px !important;
	border-top: 1px !important;
	border-right: 1px !important;
	border-style: solid !important;
	border-color: #201F1D !important;
	background: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
	background-color: #201F1D !important;
	color: #DED0B4 !important;
}
#main-window .tabbrowser-tab[selected] {
	border-radius: 0 !important;
	border-color: #201F1D !important;
	background-color: #A73E28 !important;
	color: #EDDEC9 !important;
	box-shadow: none !important;
}
#main-window .tabbrowser-tab[pinned]:not([selected]) {
	background-color: #201F1D !important;
}

#main-window #navigator-toolbox[tabsontop="true"] {
border-style: none !important;
}

.toolbarbutton-menu-dropmarker {
display: none;
}
